#!/usr/bin/env xdg-open [Desktop Entry] 
Name=Google Messages for Web
GenericName=GoogleMessages
Comment=WhatsApp desktop webapp 
Exec=/usr/bin/firefox --app=https://messages.google.com/web
Terminal=false 
Type=Application 
StartupNotify=true 
#MimeType=text/plain; 
# If you want icon, type path of icon 
Icon= 
Categories=Network;Application; 
Keywords=WhatsApp;webapp; 
X-Ubuntu-Gettext-Domain=WhatsApp 
StartupWMClass=web.whatsapp.com