.base00 {
  color: #17161b;
}
.base01 {
  color: #2f3243;
}
.base02 {
  color: #3c3f4c;
}
.base03 {
  color: #807f8d;
}
.base04 {
  color: #030207;
}
.base05 {
  color: #e9e9ff;
}
.base06 {
  color: #e9e9ff;
}
.base07 {
  color: #e5e5e9;
}
.base08 {
  color: #fa75a2;
}
.base09 {
  color: #f0ee6e;
}
.base0A {
  color: #fdd835;
}
.base0B {
  color: #00897b;
}
.base0C {
  color: #8265ff;
}
.base0D {
  color: #1e88e5;
}
.base0E {
  color: #6c71c4;
}
.base0F {
  color: #e09d74;
}

.base00-background {
  background-color: #17161b;
}
.base01-background {
  background-color: #2f3243;
}
.base02-background {
  background-color: #3c3f4c;
}
.base03-background {
  background-color: #807f8d;
}
.base04-background {
  background-color: #030207;
}
.base05-background {
  background-color: #e9e9ff;
}
.base06-background {
  background-color: #e9e9ff;
}
.base07-background {
  background-color: #e5e5e9;
}
.base08-background {
  background-color: #fa75a2;
}
.base09-background {
  background-color: #f0ee6e;
}
.base0A-background {
  background-color: #fdd835;
}
.base0B-background {
  background-color: #00897b;
}
.base0C-background {
  background-color: #8265ff;
}
.base0D-background {
  background-color: #1e88e5;
}
.base0E-background {
  background-color: #6c71c4;
}
.base0F-background {
  background-color: #e09d74;
}
