
@define-color bg_color #22262d;
@define-color fg_color #8b9cbe;
@define-color base_color #17191e;
@define-color text_color #8b9cbe;
@define-color text_color_disabled #566175;
@define-color selected_bg_color #555e70;
@define-color selected_fg_color #8b9cbe;
@define-color tooltip_bg_color #22262d;
@define-color tooltip_fg_color #8b9cbe;

