#entry:selected {
background-color: #292d35;
}
 
#text:selected {
color: #61aeee;
}
 
window {
margin: 5px;
background-color: #292d35;
border: 2px solid #61aeee;
border-radius: 18px;
}

#input {
/* margin: 5px; */
margin: 15;
background-color: none;
border: 2px solid #61aeee;
background-color: #292d35;
border-radius: 5px;
}

#inner-box {
color: #edeeff;
margin: 5px;
background-color: none;
}

#outer-box {
margin: 15px;
background-color: none;
}

#scroll {
margin: -5px;
border-radius: 5px;

}

#text {
margin: 5px;
background-color: none;
font-familly: Iceland Bold;
} 
