/* URL BAR */
#urlbar,
#searchbar {
  width: 100% !important;
  height: 100% !important;
  background-color: var(--url-mask-color) !important;
  border-radius: var(--urlbar-rounding) !important;
  border-style: none !important;
  padding: 2px 2px 2px 2px !important;
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

/* Make urlbar megabar appear more compact */
/* Set the pref browser.urlbar.megabar to true */
#urlbar.megabar[breakout] {
  margin-inline-start: 0px !important;
  width: 100% !important;
  left: 0 !important;
  top: 0 !important;
}

#urlbar.megabar[breakout]:not([open]) {
  bottom: calc(
    (var(--urlbar-toolbar-height) - var(--urlbar-height)) / 2
  ) !important;
}

.urlbarView.megabar {
  margin-inline: 0 !important;
  width: auto !important;
}

.urlbarView-row {
  padding-inline: 4px !important;
}

#urlbar-background {
  display: none !important;
  animation: none !important;
}

#urlbar-input-container {
  padding: 0 !important;
  height: 100% !important;
}

#urlbar-container {
  -moz-box-pack: center !important;
}

#urlbar-input {
  caret-color: white !important;
  text-align: center !important;
}

#urlbar[open] {
  background-color: var(--urlview-color) !important;
  width: auto !important;
}

.urlbarView::before {
  border: none !important;
}

#urlbar-results {
  padding: 0 !important;
  margin-left: 0 px !important;
}

#urlbar-container,
#searchbar-container {
  overflow: visible !important;
  padding: 0 !important;
  margin-inline: 6px !important;
}

.searchbar-textbox {
  color: inherit !important;
  font-size: inherit !important;
  min-height: auto !important;
}

.urlbarView {
  position: absolute !important;
  background-image: url(assets/noise-512x512.png) !important;
  background-color: var(--urlview-color) !important;
  backdrop-filter: blur(32px) !important;
  border-radius: 0 0 var(--inputbar-rounding) var(--inputbar-rounding) !important;
  margin-top: var(--urlbar-height) !important;
  margin-bottom: -1px !important;
  width: auto !important;
}

.urlbarView-row:hover,
.urlbarView-row[selected="true"] {
  background: var(--main-highlight) !important;
  color: white !important;
}

.urlbarView-favicon {
  display: None !important;
}

.urlbarView-title,
.urlbarView-url {
  text-overflow: ellipsis !important;
  mask-image: none !important;
}
