/* TreeStyleTab.css */

/* Hide border on tab bar, force its state to 'scroll', adjust margin-left for width of scrollbar. */
#tabbar {
	border: 0;
	scrollbar-width: none;
	background: #17161B !important;
        color: #DEE6E7 !important;
}
/* Remove space before child tabs when sidebar collapsed. */
/* (I'd prefer for them to be at -1px, but I don't know how to target child tabs specifically.) */
#tabbar:not(:hover) .tab {
	margin-left: 0;
}

/* Hide .twisty and adjust margins so favicons have 7px on left. */
.tab .twisty {

	margin-left: -18px;
}

/* Push tab labels slightly to the right so they're completely hidden in collapsed state, but still look fine while expanded. */
.tab .label {
	margin-left: 7px;
}  




/* Hide 'new tab' button. */
.newtab-button {
color: #ffffff !important;

	background:  #17161B !important;
}



/* ##### THEME ############################################ */
@keyframes pulse {
	0% {
		width: 0px;
		height: 0px;
		opacity: 1;
	}
	100% {
		width: 350px;
		height: 350px;
		opacity: 0;
		top: calc(50% - 175px);
		left: calc(50% - 175px);
	}
}



#tabbar {
	border-right: 1px solid #17161B ;
	border-left: 1px solid #17161B ;
	box-shadow: none !important;
	background: #17161B !important;
        color: #cccccc;
}



.tab {

	border-color: #3a3c4e;
	box-shadow: none !important;
	background: #343a40 !important;
}
.tab .label {
	color: #cccccc;
        margin-left: 1rem;

}
.tab:hover {
        color: #8265FF !important;
	font-weight:900;

}
.tab:hover .label {
	color: #8265FF	!important;

}



/* pending / unloaded tabs */
.tab.discarded {
background: #17161b;
color:#ffffff;
}

.tab.discarded:hover {
	background: #2d2d2d;
color:#44ddff;
}



/* active tab  */
.tab.active {
	background-color: #24262A !important;
       color: #FC61F7 !important;
}
.tab.active .label {
	font-weight: 900;
        color: #FC61F7 !important;

       color: #FC61F7 !important;
}
.tab.active:hover .label {

       color: #44ddff !important;
}

tab-item tab-favicon img {
min-width: 32px;
min-height:28px;


}
tab-item tab-favicon {
min-width: 32px;
min-height:24px;
padding:0;
margin-left:0;


}

/* Adjust style for tab that has sound playing. */
.tab.sound-playing .favicon::after {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	background: #17161B;
	animation: pulse 2s ease-out 0s infinite;
	z-index: -1;
	opacity: 0;
}
tab-item tab-closebox {
 line-height: 1;
  mask: none;
  text-align: center;

}
tab-item tab-closebox::before {
content: '✖';
color: #cccccc;
display: block;
z-index:1;

background: #8265FF;
}


tab-item.active tab-closebox::before {
content: '✖';
color: #cccccc;
display: block;
z-index:1;
mask-mode: alpha;
background: #44ddff;
}



