@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

/* Hide main tabs toolbar */
#TabsToolbar {
	visibility: collapse;
}
/* Sidebar min and max width removal */
#sidebar {
	max-width: 20% !important;
	min-width: 10% !important;
	color: #E9E9F4 !important;
	background: #24262A !important;
}
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {
	#display: none !important;
	color: #E9E9F4 !important;
	background: #24262A !important;
}
/* Shrink sidebar until hovered, when using Tree Style Tab. */
/*:root {
	--thin-tab-width: 100px;
	--wide-tab-width: 200px;
	color: #E9E9F4 !important;
	background: #24262A !important;
}
#sidebar-box:not([sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]) {
	min-width: var(--wide-tab-width) !important;
	max-width: none !important;
	color: #E9E9F4 !important;
	background: #24262A !important;
}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
	position: relative !important;
	transition: all 100ms !important;
	min-width: var(--thin-tab-width) !important;
	max-width: var(--thin-tab-width) !important;
	color: #E9E9F4 !important;
	background: #24262A !important;

}
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover {
	transition: all 750ms !important;
	min-width: var(--wide-tab-width) !important;
	max-width: var(--wide-tab-width) !important;
	margin-right: calc((var(--wide-tab-width) - var(--thin-tab-width)) * -1) !important;
	background: #24262A !important;
	color: #E9E9F4 !important;
}
*/
/* flat theme /**/ 
#nav-bar textbox {
	color: #E9E9F4 !important;
	background-color: #3a3c4e !important;
}
#nav-bar textbox:hover {
	background-color: transparent !important;
}
#urlbar, .searchbar-textbox {
	border: 0px !important;
	height: 20px !important;
	color: #E9E9F4 !important;
	background: #17161B !important;

}
#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
	color: #E9E9F4 !important;
	background: #3a3c4e !important;
}
/**/
#nav-bar[id], #PersonalToolbar[id], #web-developer-toolbar[id], #navigator-toolbox[tabsontop="true"] > #nav-bar[id], #navigator-toolbox[tabsontop="true"]:not([customizing]) > #nav-bar[collapsed="true"][id] + toolbar, #navigator-toolbox[tabsontop="true"]:not([customizing]) > #nav-bar[collapsed="true"] + #customToolbars + #PersonalToolbar[id], #navigator-toolbox[tabsontop="false"] > #nav-bar[id], #navigator-toolbox[tabsontop="false"]:not([customizing]) > #nav-bar[collapsed="true"][id] + toolbar, #navigator-toolbox[tabsontop="false"]:not([customizing]) > #nav-bar[collapsed="true"] + #customToolbars + #PersonalToolbar[id] {
	background-image: none !important;
	color: #E9E9F4 !important;
	background: #3a3c4e !important;
}
#urlbar, .searchbar-textbox {
	box-shadow: none !important;
background: #3a3c4e !important;
}
#urlbar .urlbar-input-box {
	text-align: center;
	background: #3a3c4e !important;
}
* {
		color: #E9E9F4 !important;
	background: #24262A !important;
}
#identity-box {
	max-width: 0 !important;
}

#identity-icon-labels,
#identity-icon,
#sidebar-button, /*sidebar button*/
.tabs-newtab-button.toolbarbutton-1, #new-tab-button, /*new tab button*/
#pageActionSeparator, /*some dash in the search bar*/
.urlbar-history-dropmarker.urlbar-icon.chromeclass-toolbar-additional /*history arrow in search bar*/
{
	display: none !important;
}


.urlbar-go-button,
#nav-bar-overflow-button,/*more stuff double arrow button*/
{
		color: #E9E9F4 !important;
	background: #24262A !important;

}

