/* Hide main tabs toolbar */
#TabsToolbar {
	visibility: collapse;
}
#sidebar {
min-width: 0 !important;
max-width: 20% !important;
	color: #DEE6E7 !important;
	background: #17161B !important;
}
/* Hide splitter, when using Tree Style Tab. */
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] + #sidebar-splitter {

	color: #DEE6E7 !important;
	background: #17161B !important;
}

/* COLLAPSE SIDEBAR FOR TREE STYLE TAB */
/*Collapse in default state and add transition*/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] {
  overflow: hidden;
  min-width: 40px;
  max-width: 40px;
  transition: all 0.2s ease;
  border-right: 1px solid #0c0c0d;
  z-index: 2;
}

/*Expand to 260px on hover*/
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"]:hover,
#sidebar-box[sidebarcommand="treestyletab_piro_sakura_ne_jp-sidebar-action"] #sidebar {
  min-width: 260px !important;
  max-width: 260px !important;
  z-index: 1;
}

/* COLOR THEME*/ 
#nav-bar textbox {
	color: #DEE6E7 !important;
	background-color: #24262a !important;
}
#nav-bar textbox:hover {
	background-color: transparent !important;
}
#urlbar, .searchbar-textbox {
	border: 0px !important;
	height: 20px !important;
	color: #DEE6E7 !important;
	background: #17161B !important;

}
#urlbar {
	margin-left: 1px !important;
	margin-right: 1px !important;
	color: #DEE6E7 !important;
	background: #17161b !important;
}
/*STYLE TOOLBARS AND UI MAIN*/
#nav-bar[id], #PersonalToolbar[id], #web-developer-toolbar[id], #navigator-toolbox[tabsontop="true"] > #nav-bar[id], #navigator-toolbox[tabsontop="true"]:not([customizing]) > #nav-bar[collapsed="true"][id] + toolbar, #navigator-toolbox[tabsontop="true"]:not([customizing]) > #nav-bar[collapsed="true"] + #customToolbars + #PersonalToolbar[id], #navigator-toolbox[tabsontop="false"] > #nav-bar[id], #navigator-toolbox[tabsontop="false"]:not([customizing]) > #nav-bar[collapsed="true"][id] + toolbar, #navigator-toolbox[tabsontop="false"]:not([customizing]) > #nav-bar[collapsed="true"] + #customToolbars + #PersonalToolbar[id] {
	background-image: none !important;
	color: #DEE6E7 !important;
	background: #17161B !important;
}
#urlbar, .searchbar-textbox {
	box-shadow: none !important;
background: #24262a !important;
}
#urlbar .urlbar-input-box {
	text-align: center;
	background: #24262A !important;
}

#identity-box {
	max-width: 0 !important;
display: none;
color: #DEE6E7;
}




.urlbar-go-button,
#nav-bar-overflow-button,/*more stuff double arrow button*/
{
		color: #DEE6E7 !important;
	background: #17161B !important;

}

