/**
 * This theme is intended for a 3 items wide menu on a 1920x1080 pixels resolution.
 * You may have to tweak values such as the window padding if you have a different resolution.
 */
@import "shared/option-menu.rasi"
*{
	font:		 "FontAwesome Bold 28";
}
#window {
  padding: 30%;
}
#listview {
  spacing: @option-3-listview-spacing;
  lines: 3;
}
#element{
width: 50%;
padding: 12%;
}

